html {
   overflow: hidden;
   height: 100%;
}
body {
   font-family: "Lucida", sans-serif;
   background-color: #e9ebee;
   height: 100%;
   overflow: auto;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}
#topbar {
   z-index: 10;
   position: fixed;
   top: 0px;
   width: 100%; height: 42px;
   background-color: #3b5998;
   margin-bottom:50px;
}
#search p:hover{
   visibility: hidden;
}
#f {
   position: absolute;
   top: 8px; left: 10px;
   position: absolute;
   border-radius: 2px;
   width: 25px; height: 26px;
   background-color: #ffffff;
   color: #3b5998;
   font-size: 2em; font-style: bold;
   text-align: center;
   overflow: hidden;
}
#search {
   position: absolute;
   padding-top:7px; padding-left: 10px;
   top: 8px; left: 45px;
   border-radius: 2px;
   width: 400px; height: 19px;
   background-color: #ffffff;
   font-size:.85em;
   color: #999999;
}
#sidebar {
   font-size: .75em;
   float: left;
   position: fixed;
   margin-top: 50px; margin-left: 10px
}
#sidebar li {
   padding: 5px;
}
#sidebar a {
   color: black;
}
#sidebar img {
   padding-right: 5px;
   border: 0px;
}
#sidebar p{
   color: #6a6a6a;
   padding-top: 15px;
   font-size: .95em;
}
#sidebar li:hover {
   background-color: #dddfe2;
   border-radius: 2px;
   transition: linear .2s;
}
.woym {
   position: relative;
   margin-left: 150px;
   margin-top: 50px;
   padding-top: 10px;
   width: 52%;
   height: 145px;
   font-size:.85em;
   background-color: white;
   border: .25px solid #ccc;
   border-radius: 2px;
}
.woym a {
   padding-left: 12px;
   font-weight: bold;
   color: #3b5998;
}
.woym a:hover {
   color: #2f4562;
}
.woym hr {
   border: 0px;
   background-color: #d0d0d0;
   height: 1px;
}
.woym p {
   padding: 30px 0 30px 12px;
   color: #999999;
}
.woym p:hover{
   visibility: hidden;
}
.woym img{
   float: left;
   margin: 12px 12px;
   border: .10px solid #cccccc;
}
#postbtn {
   position: absolute;
   right: 5px;
   border: none;
   border-radius: 2px;
   height: 22px; width: 50px;
   background-color: #3b5998;
   outline: none;
   font-size: .95em;
   color: white;
}
#postbtn:hover {
   background-color: #4060a4;
   box-shadow: 0px 0px 5px #273a62 inset;
   transition: linear .25s;
   cursor: pointer;
}
#postbtn:active {
   background-color: #30487b;
   transition: linear .25s;
   cursor: pointer;
}
#okbtn {
   position: absolute;
   right: 10px; top: 90px;
   border: none;
   border-radius: 2px;
   height: 22px; width: 50px;
   background-color: #3b5998;
   outline: none;
   font-size: .95em;
   color: white;
}
#okbtn:hover {
   background-color: #4060a4;
   box-shadow: 0px 0px 5px #273a62 inset;
   transition: linear .25s;
   cursor: pointer;
}
#okbtn:active {
   background-color: #30487b;
   transition: linear .2s;
}
.errormodal {
   position: fixed;
   left: 0; top: 0;
   display: none;
   z-index: 2;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.25);
}
.error-content {
   position: relative;
   background-color: #3b5998;
   margin: auto;
   margin-top: 100px;
   border: 1px solid #888;
   border-radius: 4px;
   width: 350px; height: 150px;
   overflow: hidden;
   box-shadow: 0px 0px 5px #666;
   font-size: .85em;
}
.error-content h1 {
   position: absolute;
   top: 10px; left: 10px;
   color: white;
   font-weight: bold;
}
#nouser {
   position: absolute;
   top: 30px;
   width: 100%; height: 100%;
   background-color: #e5e7e7;
}
#nouser h2 {
   background-color: white;
   height: 45px;
   padding-top: 35px;
   border-bottom: 1px solid #888;
   font-weight: normal;
   text-align: center;
}
.close {
    color: #afbdd4;
    position: absolute;
    top: 5px; right: 10px;
    font-size: 20px;
}
.close:hover, .close:focus {
   color: white;
   cursor: pointer;
   transition: linear .2s;
}
.posthead {
   position: relative;
   margin-left: 150px;
   margin-top: 10px;
   padding-top: 10px;
   width:52%;
   height: 410px;
   font-size:.85em;
   background-color: white;
   border: .25px solid #ccc;
   border-radius: 2px;
}
.posthead a {
   position: absolute;
   padding-right: 10px;
   top: 11px; left: 75px;
   font-weight: bold;
   color: #3b5998;
}
.posthead hr {
   border: 0px;
   background-color: #d0d0d0;
   height: 1px;
}
.posthead h1 {
   position: absolute;
   top: 50px;
   left: 75px;
   font-size:.8em;
   color: #999999;
}
.posthead p {
   margin: 10px 20px 20px 15px;
   color: #999999;
}
.posthead img{
   position: absolute;
   top: 11px;
   left: 12px;
   border: .10px solid #cccccc;
}
.postbody {
   position: absolute;
   top: 70px;
   border-top: .25px solid #ccc;
   border-bottom: .25px solid #ccc;
   padding-top: 10px;
   padding-bottom: 10px;
   width: 100%;
   overflow: hidden;
}
#postimage {
   width: 95%;
   background-color: #999;
   height: 250px;
   margin: auto;
}
.postcomment {
   position: relative;
   margin: auto;
   margin-top:340px;
   border: .25px solid #ccc;
   width: 95%; height: 60px;
   background-color: #f6f7f9;
   border-radius: 2px;
   overflow: hidden;
}
.postcomment img{
   position: absolute;
   top: 7px; left: 7px;
}
#comment {
   position: absolute;
   top: 7px; left: 60px;
   background-color: white;
   height: 45px;
   width: 100%;
   border: .25px solid #ccc;
   border-radius: 2px;
   color: #999999;
}
#comment p {
   margin-top: 15px;
}
#comment p:hover {
   visibility: hidden;
}
#rightborder{
   position: absolute;
   right: -1px; top: 7px;
   background-color:#f6f7f9;
   height: 47px; width: 8px;
   border-left:.25px solid #ccc;
   border-right:.25px solid #ccc;
}
#openchat {
   position: fixed;
   bottom:0px; right:25px;
   background-color: #f6f7f9;
   border: .25px solid #ccc;
   border-bottom: 0px;
   z-index: 1;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
   padding: 2px 2px 8px 0;
   width: 150px; height: 20px;
}
#openchat button{
   border: 0px;
   background-color: transparent;
   outline: none;
   font-weight: bold;
}
#openchat:hover {
   background-color: #fbfcfe;
   box-shadow: 0px -2px 5px #d1d2d4 inset;
   transition: .5s;
}
#openchat:active {
   background-color: #e9ebee;
   box-shadow: 0px -2px 5px #d1d2d4 inset;
   transition: .5s;
}
#greendot {
   color: green;
   font-size: 1.5em;
}
.chatmodal {
   position: fixed;
   left: 0; top: 0;
   display: none;
   z-index: 2;
   width: 100%;
   height: 100%;
   overflow: auto;
}
.chat-content {
   position: absolute;
   bottom: 0px; right: 5px;
   background-color: white;
   margin-top: 100px;
   border: .25px solid #d0d0d0;
   border-bottom: 0px;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   width: 200px; height: 260px;
   overflow: hidden;
   box-shadow: 0px 0px 10px #666;
}
#closechat {
   width: 100%;
   height: 23px;
   background-color: #3b5998;
   color: white;
}
#closechat p{
   padding: 5px;
   font-size: .85em;
}
#closechat:hover {
   background-color: #4060a4;
   box-shadow: 0px 0px 5px #273a62 inset;
   transition: linear .25s;
   cursor: pointer;
}
#closechat:active {
   background-color: #30487b;
   transition: linear .25s;
   cursor: pointer;
}
.chat-content button {
   float: right;
   border: 0px;
   background-color: transparent;
   outline: none;
   color: white;
   font-size: 1em;
}
#chatuser{
   position: relative;
   width: 100%;
   padding: 4px 0 2px 4px;
}
#chatuser a{
   position: absolute;
   top: 13px; left: 45px;
   font-size: .85em;
}
#chatuser span {
   position: absolute;
   top: 7px; right: 10px;
}
#chatuser img {
   border: .10px solid #cccccc;
}
#searchchat {
   width: 100%;
   height: 100%;
   border-top: 1px solid #cccccc;
   color: #999999;
   font-size: .85em;
   padding: 8px 5px;
}
#searchchat i{
   font-size: .95em;
   margin-right: 5px;
}
 #searchchat p:hover {
    visibility: hidden;
}
